<section>

    <button class="btn btn-default" ng-click="controller.showSpecifyAssetModal()">
        specify asset
    </button>

    <div ng-if="controller.specifiedAssets.length > 0">
        <h4>result:</h4>

        <pre>
            {{controller.specifiedAssets|json}}
        </pre>

    </div>

</section>