<section>
    <div class="modal-header">
        <button type="button"
                class="close"
                aria-label="Close"
                ng-click="controller.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Specify Asset</h4>
    </div>
    <div class="modal-body">
        <h4>Inventory</h4>

        <div class="row">
            <div class="col-sm-4">
                <input
                        type="search"
                        class="form-control input-sm"
                        placeholder="Serial Number"
                        autocomplete="off"
                        ng-model="controller.assetFilter.serialNumber"
                        ng-change="controller.filterAssets()">
            </div>
            <div class="col-sm-6">
                <select
                        class="form-control input-sm"
                        ng-options="productGroupId as productGroup.name for (productGroupId,productGroup) in controller.productGroupHashTable"
                        ng-model="controller.assetFilter.productGroupId"
                        ng-change="controller.filterAssets()">
                    <option value="">Product Group...</option>
                </select>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Product Line</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr
                        ng-repeat="product in controller.filteredAssetList"
                        ng-click="controller.selectedAsset = product"
                        ng-class="{active:(controller.selectedAsset.serialNumber == product.serialNumber)}"
                        style="cursor: pointer">
                    <td>
                        {{product.serialNumber}}
                    </td>
                    <td>
                        {{controller.productLineHashTable[product.productLineId].name}}
                    </td>
                    <td>
                        <button
                                class="btn btn-default btn-xs"
                                type="button"
                                ng-click="controller.addComponent(product)">
                            select as component
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" ng-form="addInventoryForm">
                        <div class="input-group">
                            <input
                                    id="serialNumber"
                                    name="serialNumber"
                                    class="form-control input-sm"
                                    type="text"
                                    placeholder="enter serial number..."
                                    ng-model="controller.serialNumberOfAssetToAdd"
                                    ng-required="true"
                                    ng-maxlength="80"
                                    ng-minlength="1">
                                            <span class="input-group-btn">
                                                <button
                                                        class="btn btn-default btn-sm"
                                                        type="button"
                                                        ng-click="controller.addAssetViaSerialNumberOrShowAddNotListedModal()"
                                                        ng-readonly="!addInventoryForm.$valid"
                                                        ng-disabled="!addInventoryForm.$valid">
                                                    add to inventory
                                                </button>
                                            </span>
                        </div>

                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="table-responsive" ng-if="controller.selectedComponents.length > 0">
            <h4>Components</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Product Line</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr
                        ng-repeat="component in controller.selectedComponents">
                    <td>
                        {{component.serialNumber}}
                    </td>
                    <td>
                        {{controller.productLineHashTable[component.productLineId].name}}
                    </td>
                    <td>
                        <button
                                class="btn btn-default btn-xs"
                                type="button"
                                ng-click="controller.removeComponent(component)">
                            remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.saveAndClose()"
                        ng-disabled="!controller.selectedAsset && !(controller.selectedComponents.length > 0)">
                    save and close
                </button>
            </div>
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.saveAndAddAnother()"
                        ng-disabled="!controller.selectedAsset && !(controller.selectedComponents.length > 0)">
                    save and add another
                </button>
            </div>
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.cancel()">
                    cancel
                </button>
            </div>
        </div>
    </div>
</section>